html {
    body {
      #page-one-click {
        padding: 5px;
        background-color: blue;
        color: gray;
      }
      .test-css {
        width: 150px;
        height: 50px;
        background-color: red;
      }
    }
}